*{
padding:0;
margin:0;
box-sizing:border-box;	
}

body {
	overflow:hidden;
}


.container{
	overflow:auto;
	position:relative;
	top:85px;
	height:100vh;
	width:100vw;
	background-color:rgba(255,255,255,0.5);
}

.content{
	overflow:auto;
	justify-content:center;
	align-items:center;
	text-align:center;
	padding-bottom:100px;
}


	
	
	