*{
padding:0;
margin:0;
box-sizing:border-box;	
}

body {
	overflow:hidden;
}


.container{
	overflow:auto;
	position:relative;
	top:85px;
	height:100vh;
	width:100vw;
	background-color:rgba(255,255,255,0.5);
}

.content{
	overflow:auto;
	justify-content:center;
	align-items:center;
	text-align:center;
	padding-bottom:100px;
}

.forma{
	overflow:auto;
	text-align: left;
	display:inline-block;
	height:100%;
	width:700px;
}

.New Announcment{
	margin-top: 10px;
	font-size: 18px;
}

.new_btn button {
	color:white;
	cursor: pointer;
	background: none;
	outline: none;
	border:none;
}
.new_btn{
	width: 20%;
	border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	overflow: hidden;
	background: #0099cc ;
}
.inputs{
	margin-top: 10px;
	width:100%;
	overflow: hidden;
	border-bottom :1px solid #0099cc ;
}
.inputs input{
	width:100%;
	border: none;
	outline:none;
	background: none;
}

.inputs textarea{
	width:100%;
	border: none;
	outline:none;
	background: none;
}

.buttons button{
	float:left;
	color:white;
	cursor: pointer;
	background: none;
	outline: none;
	border:none;
}

.buttons{
	width: 10%;
	border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	overflow: hidden;
	background: #0099cc ;
}

buttons:hover{
	background:#0041cc;
}

textarea:focus,input:focus{
	border-bottom: 1px solid #0041cc;
}

	
	
	